.formWrapper {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  align-items: center;
  width: 60%;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}

.textField {
  width: 100%;
  margin-right: 30px;
}
.button {
  margin-left: 20px;
}
