.calendar {
  margin: 20px;
}

/* .react-calendar-heatmap .color-grass-0 {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-grass-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-grass-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-grass-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-grass-4 {
  fill: #1e6823;
}
.react-calendar-heatmap .color-grass-5 {
  fill: #224b03;
} */
