.calendar {
  margin: 50px 15% 20px 10%;
}

/* .react-calendar-heatmap .color-grass-0 {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-grass-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-grass-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-grass-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-grass-4 {
  fill: #1e6823;
}
.react-calendar-heatmap .color-grass-5 {
  fill: #224b03;
} */

.colorGrass0 {
  fill: #eeeeee;
}
.colorGrass1 {
  fill: #d6e685;
}
.colorGrass2 {
  fill: #8cc665;
}
.colorGrass3 {
  fill: #44a340;
}
.colorGrass4 {
  fill: #1e6823;
}
.colorGrass5 {
  fill: #224b03;
}